<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACt8T0IzQSRZZZK1uN5wi68x4VLcPc3GM</string>
	<key>GCM_SENDER_ID</key>
	<string>217847087461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.providerdemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crudoperation007</string>
	<key>STORAGE_BUCKET</key>
	<string>crudoperation007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217847087461:ios:06f35020d058fac172a18c</string>
</dict>
</plist>